<!-- index.html -->
    <!DOCTYPE html>
    <html>
    <head>
        <link rel = "stylesheet" href= "assets/css/index.css">
        <link rel = "stylesheet" href= "assets/css/reset.css">

    </head>

    <body>

        <!-- HEADER AND NAVBAR -->
        <header>
          <ul class="nav navbar-nav navbar-right">
                   <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                   <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                   <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
               </ul>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">

            <!-- angular templating -->
            <!-- this is where content will be injected -->

        </div>
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
      <script src="app.js"></script>
    </body>
    </html>
